<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor = "let x of ingredients"
      >{{x.name}} ({{x.amount}})</a>
    </ul>
  </div>
</div>

