<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Receipe Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Receipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Add to shopping list</a></li>
        <li><a href="#">Edit Receipe</a></li>
        <li><a href="#">Delete Receipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
<!--<p>receipe-detail works!</p>-->
